
*.pyc

.vscode

__pycache__

vsJupyter.py

projectFolderBaseDescription.py

bureauEnergyMulti_MultiQueue.py

requirements_ChineseLiterature.txt

requirements_iSelect3C.txt

READMEInJupyter.ipynb


/doc/UML.asta
/doc/NOTE.md
/doc/config_website.ini

dataMunging/rawData/*